.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  padding-top: 1.5vh;
  padding-bottom: 3vh;
}

.header-text {
  font-size: var(--fs-xl);
  font-family: var(--ff-xl);
  font-weight: 500;
  text-align: center;
}

.header-description {
  text-align: center;
  font-family: var(--ff-600);
  font-size: var(--fs-600);
}

.header-submit-button {
  cursor: pointer;
  display: inline-flex;
  flex-grow: 0;
  text-align: center;
  min-width: 50px;
  width: fit-content;
  padding: 8px;
  border-radius: 25px;
  border: 1px solid black;
  font-family: var(--ff-400);
  font-size: var(--fs-400);
  box-shadow: 0 4px 8px rgba(87, 87, 87, 0.575);
  background-color: rgb(99, 98, 98);
  color: rgb(235, 235, 235);
}

.header-submit-button:hover {
  box-shadow: 0 4px 2px rgba(87, 87, 87, 0.575);
}
