.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Optional negative margin to offset spacing */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* Space between columns */
  background-clip: padding-box;
}

