.image-container {
  margin-bottom: 30px;
  cursor: pointer;
}
.image-item {
  width: 100%; /* Ensure images take full column width */
}

.image-subtext-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-subtext {
  font-size: 1.5vw;
}
