.image-container {
  margin-bottom: 30px;
  cursor: pointer;
}
.image-item {
  width: 100%; /* Ensure images take full column width */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

}

.image-subtext-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-subtext {
  padding-top: 0.5vh;
  font-size: 1.5vw;
}
