.modal-image {
  width: 100%;
  height: auto;
  object-fit: contain; /* Maintain aspect ratio, fit within the modal */
  max-height: 85vh;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-root {
  width: auto;
  max-width: 80%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none; /* Remove focus outline */
}

.modal-image-subtext-container {
  width: 100%;
}

.modal-image-subtext {
  font-size: 2.5vw;
}
