.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* .ReactModal__Content {
  position: relative;
  background: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
} */

.App {
  position: relative;
  background-color: rgb(190, 189, 189);
}

.main-content {
  position: relative;
  padding-left: 2vw;
  padding-right: 2vw;
  z-index: 50;
}

.background-image {
  /* opacity: 0.6; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}