@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
/* @font-face {
  font-family: "Beauty Morning";
  src: url("/fonts/Beauty Morning.otf") format("opentype"),
    url("/fonts/Beauty Morning.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playball", Georgia, "Times New Roman", Times,
    serif;
}

:root {
  --fs-xl: 3rem;
  --fs-600: 1rem;
  --fs-400: 1rem;

  --ff-xl: "Playball", Georgia, "Times New Roman", Times,
    serif;
  --ff-600: Georgia, "Times New Roman", Times,
  serif;
  --ff-400: Georgia, "Times New Roman", Times,
  serif;
}

@media (max-width: 768px) {
  :root {
    --fs-xl: 2rem;
    --fs-600: 1rem;
    --fs-400: 0.5rem;
  }
}
